---
const { name, id } = Astro.props;
---

<div class="window" id={id}>
    <div class="window-bar">
        <p class="window-bar-close" id={`${id}-close`} style="margin-right: 5px; cursor: pointer;">X</p>
        <p style="pointer-events: none;">{name}</p>
    </div>
    <div style="overflow-y: scroll; height: 420px;">
        <slot/>
    </div>
</div>

<script is:inlinde define:vars={{ id }}>
    document.getElementById(`${id}-close`).addEventListener("click", close_window);
    function close_window() {
        let temp = document.getElementById(id);
        if(temp) {
            temp.style.opacity = "0";
            temp.style.pointerEvents = "none";
        }

        let tab = document.getElementById(`${id}-tab`);
        if(tab) {
            tab.style.opacity = "0";
            tab.style.pointerEvents = "none";
            tab.style.position = "absolute";
        }
    }
</script>
