---
const { name, img, id } = Astro.props;
---

<div class="desktop-shortcut" id={`${id}-btn`}>
    <img src={img} class="desktop-shortcut-img">
    <p class="desktop-shortcut-text">{name}</p>
</div>

<script define:vars={{ id }}>
    document.getElementById(`${id}-btn`).addEventListener("click", open);

    function open() {
        let app = document.getElementById(id);
        app.style.opacity = "1";
        app.style.pointerEvents = "all";

        let tab = document.getElementById(`${id}-tab`);
        tab.style.opacity = "1";
        tab.style.pointerEvents = "all";
        tab.style.position = "unset";
    }
</script>
