---
const { name, img, id } = Astro.props;
---

<div class="desktop-shortcut" id={`${id}-btn`}>
    <img src={img} class="desktop-shortcut-img">
    <p class="desktop-shortcut-text">{name}</p>
</div>

<script is:inline define:vars={{ id }}>
    document.getElementById(`${id}-btn`).addEventListener("click", open_window);

    function open_window() {
        let app = document.getElementById(id);
        if(app) {
            app.style.opacity = "1";
            app.style.pointerEvents = "all";
        }

        let tab = document.getElementById(`${id}-tab`);
        if(tab) {
            tab.style.opacity = "1";
            tab.style.pointerEvents = "all";
            tab.style.position = "unset";
        }
    }
</script>
