---
const { id, name, desc } = Astro.props;
---

<div id={`${id}-link`} style="cursor: pointer;">
    <a class="link-name">{name}</a>
    <a class="link-desc">- {desc}</a>
    <slot/>
</div>

<style>
    .link-name {
        color: #0000ff;
    }
    .link-desc {
        color: #000000;
    }
</style>

<script define:vars={{ id }}>
    document.getElementById(`${id}-link`).addEventListener("click", open);

    function open() {
        let app = document.getElementById(id);
        app.style.opacity = "1";
        app.style.pointerEvents = "all";

        let tab = document.getElementById(`${id}-tab`);
        tab.style.opacity = "1";
        tab.style.pointerEvents = "all";
        tab.style.position = "unset";
    }
</script>
