---
const { id, name, desc } = Astro.props;
---

<div id={`${id}-link`} style="cursor: pointer;">
    <a class="link-name">{name}</a>
    <a class="link-desc">- {desc}</a>
    <slot/>
</div>

<script is:inline define:vars={{ id }}>
    document.getElementById(`${id}-link`).addEventListener("click", open_window);

    function open_window() {
        let app = document.getElementById(id);
        if(app) {
            app.style.opacity = "1";
            app.style.pointerEvents = "all";
        }

        let tab = document.getElementById(`${id}-tab`);
        if(tab) {
            tab.style.opacity = "1";
            tab.style.pointerEvents = "all";
            tab.style.position = "unset";
        }
    }
</script>
